{% extends "base.html" %}

{% block "title" %}Athens{% endblock %}
{% block "content" %}
<!--<div style="height:250px;width:250px;border:1px solid black">Picture of us on cannon</div>-->

<h2>Things to do</h2>
<ul>
    <li><b><a href="http://www.athenstwilight.com/">Twilight Criterium</a></b> &mdash;
      Much celebrated, annual bike race in downtown Athens, occurring late in the day on 4/30.
      Drop downtown after the reception and check out the live music, vendors, hand cycle race, kids parade lap, and men's and women's bike race right on the streets  of downtown.</li>
    <li><b><a href="http://www.athenscine.com/">Cin&eacute;</a></b> &mdash; Art house and independent movie theatre in downtown Athens. Feel like taking in a movie after the wedding? Chances are Cine will have the best options in town. They also have an impressive beer/wine list and fancy snacks.</li>
    <li><b><a href="http://www.40watt.com">40 Watt Club</a></b> &mdash; Famous music venue in downtown Athens</li>
    <li><b><a href="http://www.flickertheatreandbar.com/">Flicker Theater and Bar</a></b> &mdash; Our favorite watering hole / 2<sup>nd</sup> home</li>
    <li><b><a href="http://caledonialounge.com/">Caledonia Lounge</a></b> &mdash; Spending the night in Athens? Come to our afterparty here! It starts at 10.</li>
</ul>

<h2>Places to shop</h2>
<ul>
  <li><b><a href="http://www.google.com/maps/place?cid=5077891484512409710&q=agora+athens,+ga&fb=1&gl=us&hq=agora&hnear=Athens,+GA">Agora</a></b> &mdash; Flea market style bazaar with vintage clothing, jewelry, records, electronics, etc. Worth a visit just for the sensory overload.</li>
  <li><b><a href="http://www.facebook.com/pages/Decatur-GA/Wuxtry-Records/88742854329">Wuxtry</a></b> &mdash; Athens' oldest and most celebrated record shop. Be sure to check out Bizarro Wuxtry (the comic shop) upstairs.</li>
  <li><b><a href="http://www.google.com/maps/place?cid=7524317657847195987&q=low+yo+yo+stuff+athens,+ga&gl=us&ved=0CBMQ-QswAA&ei=BJ_6TN2hBqS6ywT32qHXAw&sll=33.9581,-83.38&sspn=0.006295,0.006295&ie=UTF8&ll=33.965537,-83.39329&spn=0,0&t=h&z=16">Low Yo Yo Stuff</a></b> &mdash; Yet another great record store</li>
</ul>

<h2>Where to get coffee</h2>
<ul>
  <li><b><a href="http://www.jitteryjoes.com/">Jittery Joes</a></b> &mdash; Famous Athens coffee roaster with several locations in town. The most convenient locations being <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&g=1230+South+Milledge+Avenue%2C+Athens%2C+GA+30605-1446&q=1230+S+Millledge+Athens%2C+GA+30605&btnG=Search+Maps">5 points</a>, <a href="http://maps.google.com/maps/place?hl=en&sugexp=gsihc&xhr=t&cp=0&qe=aml0dGVyeSBqb2VzIGFscHM&qesig=gRkiCCpB2XAk_gJHstnIZQ&pkc=AFgZ2tkuOaRBBMJDnGp0kgppniFEh3sBVQ6m0kOVO9uFSgACGHqyfwfO88RDPDtFnnyFh05vpOR7qaww0GAp7YHjGw_8fJe29A&nord=1&bav=on.1,or.&ion=1&um=1&ie=UTF-8&q=jittery+joes+alps&fb=1&gl=us&hq=jittery+joes+alps&hnear=Athens,+GA&cid=8285380364456352955">Alps</a>, and <a href="http://www.google.com/maps?f=q&hl=en&geocode=&q=780+E+Broad+Street,+Athens,+GA++30605&sll=33.924911,-83.339804&sspn=0.007816,0.012778&ie=UTF8&t=h&z=17&iwloc=addr">downtown</a>. Grab a can of beans to enjoy at home. They are awesome.</li>
  <li><b><a href="http://www.facebook.com/profile.php?id=100001234620214">Hendershot's Coffee</a></b> &mdash; A newer coffee house in Normaltown with fancy coffee drinks, snacks, and a few cocktails. Hendershots has a family-friendly, laid-back atmosphere and occasional live music.</li>
  <li><b><a href="http://trappezepub.com/">Trappeze</a></b> &mdash; Yummy, gourmet <a href="http://www.1000facescoffee.com/">1,000 Faces fair trade coffee</a>, conveniently located downtown. Each cup is made individually when you order, it's delicious, but be prepared to wait 5 or 10 minutes for the treat.</li>
</ul>

<h2>Where to get food</h2>
<ul>
  <li><b><a href="http://www.lastresortgrill.com/">Last Resort</a></b> &mdash; Creative and flavorful dishes with a focus on local vendors; great for dinner!</li>
  <li><b><a href="http://thegrit.com/">The Grit</a></b> &mdash; Famous Athens vegetarian and vegan restaurant with meals that will please all kinds of eaters. This is our favorite place to bring out of town guests, there is something for everyone. Our favorite? The Golden Bowl with added veggies or anything with the black bean chili. Brunch here is also stellar. Try the tofu veggie scramble, the Border Patrol, or the biscuits and “sausage” gravy!</li>
  <li><b><a href="http://www.bigcitybreadcafe.com/">Big City Bread</a></b> &mdash; Breads, cakes, desserts, flatbreads, and really nice dinner entrees to be enjoyed on a lovely, and well landscaped patio within walking distance of downtown. Do you want to eat rabbit? You can here!</li>
  <li><b><a href="http://ikeandjane.com/">Ike and Jane Caf&eacute; and Bakery</a></b> &mdash; Delicious donuts and bagels are made in house in this adorable normal-town caf&eacute;.</li>
  <li><b><a href="http://www.globeathens.com/">The Globe</a></b> &mdash; British pub-style restaurant with a nice assortment of beers, burgers, sandwiches, and sides.</li>
  <li><b><a href="http://trappezepub.com/">Trappeze Pub</a></b> &mdash; Another great restaurant/pub with a giant selection of craft and specialty beers and a creative menu including Kathleen's favorite: the Avocado Reuben. Staff will help you find the perfect beer and beer flights are now available for tasting!</li>
</ul>
{% endblock %}
