{% extends "base.html" %}

{% block "title" %}Kathleen and Dave's Ceremony{% endblock %}
{% block "content" %}

<style type="text/css">
  h3 {
    border-top: 1px dotted #333333;
    margin-top: 35px;
    padding-top: 35px;
  }
</style>

<h3>Introduction (Doug)</h3>
<p>"What greater thing is there for two persons than to feel that they are joined together to strengthen each other in all labor, to minister to each other in all sorrow, to share with each other in silent, unspeakable memories?" &mdash;George Eliot</p>

<p>Today I invite you to share the joy of two people who have found joy in each other. I invite you to hear Kathleen and David's understanding of love and marriage. They say to you , that "you who are here are special to us, for you have helped to make our lives beautiful, adding meaning to each passing day. Our words today will speak of love above all&mdash;love for each other, for you, and for humankind, and for the earth in which we dwell. Love among persons is a tie that binds, and unifies, and gives strength."</p>

<h3>To the Assembled Company (Doug)</h3>
<p>We are here today, then, to celebrate the love which Kathleen and David have for each other, and to give social recognition to their decision to accept each other totally and permanently. It is fitting and appropriate that you, their family and friends, be here to witness and participate in their wedding for the ideals, the understanding, and the mutual respect which they bring to their marriage have their roots in the love, friendship, and guidance you have given them. Marriage makes us aware of the changes wrought by time, but this new relationship will continue to draw much of its beauty and meaning from the intimate associations of the past.</p>

<h3>To the Bride and Groom (Doug)</h3>
<p>Kathleen and David, in presenting yourselves here today, you are performing and act of faith in each other-- a faith which should grow and mature and endure.</p>

<p>Happiness in marriage is not something that just happens, A good marriage must be created. In the art of marriage the little things are the significant things.</p>
<ul>
  <li>It is never being too old to hold hands.</li>
  <li>It is remembering to say "I love you"</li>
  <li>It is not going to sleep angry.</li>
  <li>It is at no time taking the other for granted; the courtship shouldn't end with the honeymoon, it should continue through all of your years together.</li>
  <li>It is having a mutual sense of values and common objectives; it is standing together facing the world.</li>
  <li>It is forming a circle of love that gathers in the whole family.</li>
  <li>It is doing things for each other, not in the attitude of duty or sacrifice, but in the spirit of joy.</li>
  <li>It is speaking words of appreciation and demonstrating gratitude in thoughtful ways.</li>
  <li>It is not looking for perfection in each other.</li>
  <li>It is cultivating flexibility, patience, understanding, and a sense of humor.</li>
  <li>It is cultivating an enthusiasm for life which can be shared with one another.</li>
  <li>It is having the capacity to forgive and forget.</li>
  <li>It is giving each other an atmosphere in which each can grow.</li>
  <li>It is a common searching for the good and the beautiful.</li>
  <li>It is not only marrying the right partner, it is being the right partner</li>
</ul>

<h3>Kathleen and Dave exchange vows (Doug)</h3>
<p>Kathleen and David have chosen to write their own vows which they will now exchange.</p>
<p>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; I vow to love, honor, and cherish you, all the days of my life.<br/>
<span style="font-weight:bold;padding-left:1em">K:</span>&nbsp; I vow to love, honor, and cherish you, all the days of my life.<br/>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; To respect you as an equal partner.<br/>
<span style="font-weight:bold;padding-left:1em">K:</span>&nbsp; To always support your hopes and dreams.<br/>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; To be honest and never hide my true emotions from you.<br/>
<span style="font-weight:bold;padding-left:1em">K:</span>&nbsp; To respect and appreciate your individuality.<br/>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; To stand by your side, in sickness and in health<br/>
<span style="font-weight:bold;padding-left:1em">K:</span>&nbsp; To never get boring, and to never let you get boring.<br/>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; To appreciate how lucky I am to have found someone so beautiful, intelligent, and funny.<br/>
<span style="font-weight:bold;padding-left:1em">K:</span>&nbsp; To keep a menagerie.<br/>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; To maintain that menagerie.<br/>
<span style="font-weight:bold;padding-left:1em">K:</span>&nbsp; To make your babies and be an amazing parent.<br/>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; To be an amazing parent with you.<br/>
<span style="font-weight:bold;padding-left:1em">K:</span>&nbsp; To always take joy in doing nice things for you.<br/>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; To make you laugh.<br/>
<span style="font-weight:bold;padding-left:1em">K:</span>&nbsp; To listen to you.<br/>
<span style="font-weight:bold;padding-left:1em">D:</span>&nbsp; To surprise you.<br/>
</p>


<h3>Blessing of the Rings (Doug)</h3>
<p>Let these rings be a reminder of the high hope and promise of this moment. Let them be the mark, not of bondage, but of dreams and opportunity, love and partnership.</p>

<h3>Giving and Receiving of the Rings (repeat, phrase by phrase, after Doug)</h3>
<p>Kathleen, as you place your ring on David's finger, repeat, from the Song of Solomon: "This is my beloved and this is my friend."</p>

<p>David, as you place your ring on Kathleen's finger, repeat, from the Song of Solomon: "This is my beloved and this is my friend."</p>

<h3>Pronouncement (Doug)</h3>
<p>With boundless joy, we who know and love Kathleen and David join in happy celebration of their love for each other. We will honor and uphold them in the beauty of their purpose as they have declared it in our midst. By the power vested in me by the state and the First Church of the Future I now pronounce you husband and wife. You may now share your first kiss as husband and wife.</p>

<h3>Benediction</h3>
<p>As a ceremony ends and a new life begins, let us join together in a time of greeting and celebration. Peace and joy to all.</p>

{% endblock %}
