{% extends "base.html" %}

{% block "title" %}Miscellaneous information{% endblock %}
{% block "content" %}
<h3>The Wedding Party</h3>
<h4>Bride's maids:</h4>
<ul>
  <li>Julie Falke</li>
  <li>Emily Growden</li>
  <li>Erin McElroy</li>
  <li>Nikki Smith</li>
</ul>

<h4>Groom's men:</h4>
<ul>
  <li>Derek Almstead</li>
  <li>Brian Horst</li>
  <li>Clint McElroy</li>
  <li>Chris Yetter</li>
</ul>

<h3>Food &amp; Drink</h3>
<p>The reception following the ceremony is to be catered by <a href="http://www.halliejanes.com/">Hallie Jane's</a>.
  Hallie Jane's will be serving a heavy hors d'&oelig;uvres buffet with vegan/vegetarian/carnivorous/gluten-free/kid-friendly options.</p>
<!--
<ul>
  <li>Ham biscuits with sweet pepper jelly</li>
  <li>Chicken fingers with honey mustard sauce</li>
  <li>Vegetable crudit&eacute;s with herb dip and house made pita chips and crackers, with roasted red pepper hummus, olive tapenade, and bruschetta</li>
  <li>Jalape&ntilde;o pimento cheese in pastry puffs</li>
  <li>Seasonal fresh fruit with cr&eacute;me fraiche</li>
  <li>Crisp seasonal vegetables with herb dip</li>
</ul>
-->

<p>As the Day Chapel does not allow beer or liquor, we will be serving white wine, champagne, and champagne cocktails. There will also be a coffee bar.</p>

{% endblock %}
