{% extends "base.html" %}

{% block "title" %}Registry Information{% endblock %}
{% block "content" %}
  <p>Kathleen and Dave have registered at <a href="http://www.amazon.com/gp/registry/wedding/XVRB1OWIR12D">Amazon</a>,
    <a href="http://www.williams-sonoma.com/registry/2628706/registry-list.html">Williams-Sonoma</a>,
    and <a href="https://www.target.com/registry/wedding/3TH101RVQMSLW">Target</a>.</p>

  <p>Please consider making a charitable donation in lieu of gifts to one of our two favorite local Animal Rescue groups:
    <a href="http://athenscaninerescue.com/">Athens Canine Rescue</a> or
    <a href="http://www.athenshumanesociety.org/">Athens Area Humane Society</a>; or to
    <a href="http://jears.org/">Japan Earthquake Animal Rescue and Support</a>.</p>
{% endblock %}
